/* 头部<header> start */
header {
    height: 70px;
    background-color: #ffffff;
    box-shadow: 2px 5px 20px 1px #f0f0f0;
    padding-left: 19%;
    display: flex;
    align-items: center;
}

header h1,
header h1 img {
    width: 124px;
    height: 30px;
}

header ul {
    display: flex;
    margin-left: 99px;
}

header ul li {
    font-family: AdobeHeitiStd-Regular;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    line-height: 32px;
    letter-spacing: 2px;
    margin-right: 41px;
}

header ul li a {
    color: #333333;
}

header ul li #active,
header ul li:hover a {
    width: 67px;
    font-family: SourceHanSansCN-Medium;
    color: #4364f7;
}
/* 头部<header> end */

/* 底部<footer> start */
footer{
	height: 104px;
	background-color: #496af9;
    color: #fff;
    padding-left: 20%;
    display: flex;
    align-items: center;
}

footer img{
    height: 44px;
	background-color: #ffffff;
}

footer .con_lef{
    margin-left: 52px;
    font-size: 12px;
}

footer .con_mid{
    margin-left: 86px;
    margin-right: 94px;
    font-size: 12px;
}

footer .con_rig{
    display: inline-block;
    font-size: 22px;
}
              
footer .con_rig span{
    font-size: 28px;
    margin-right: 28px;
}

/* 底部<footer> end */